accelerate>=0.21.0
bitsandbytes>=0.40.0
huggingface_hub>=0.20.0
transformers>=4.57.0
srt>=3.5.0
opencv-python>=4.5.0
openai-whisper>=20231117
matplotlib>=3.4.0
imageio>=2.20.0
imageio-ffmpeg>=0.4.0
py360convert>=0.1.0
urllib3>=1.26.0
easydict>=1.10.0
qwen-vl-utils>=0.0.8
tiktoken
demucs
geomloss
pykeops
silero
silero-stress
